/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&family=Syncopate:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.graphic-design__title-two-dark, .graphic-design__title-two-red, .graphic-design__title-two, .graphic-design__title-one-dark, .graphic-design__title-one-red, .graphic-design__title-one {
  font-family: "Syncopate";
  font-weight: 700;
  letter-spacing: 0.005em;
  position: absolute;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.graphic-design__title-one-dark, .graphic-design__title-one-red, .graphic-design__title-one {
  width: 677.77px;
  height: 87.19px;
  rotate: 0.15deg;
  font-size: 96px;
  line-height: 96px;
  top: 279px;
}

.graphic-design__title-two-dark, .graphic-design__title-two-red, .graphic-design__title-two {
  width: 507px;
  height: 92px;
  font-size: 95px;
  font-weight: 700;
  line-height: 92px;
  top: 775px;
}

.graphic-design__text-bottom, .graphic-design__text-top {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  line-height: 26.5px;
  letter-spacing: 0.05em;
}

.my-task__shadow, .my-task__title {
  position: absolute;
  height: 58.39px;
  font-family: "Syncopate";
  font-size: 57px;
  font-weight: 700;
  line-height: 59.34px;
}

.my-task__header-three, .my-task__header-two, .my-task__header-one {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  position: absolute;
}

.my-task__three, .my-task__two, .my-task__one {
  position: absolute;
  height: 241.48px;
  font-size: 210px;
  font-weight: 700;
  line-height: 243.84px;
  z-index: 2;
}

.projects__title-shadow, .projects__title {
  position: absolute;
  width: 392.81px;
  height: 58.28px;
  top: 39px;
  font-family: "Syncopate";
  font-size: 57px;
  font-weight: 700;
  line-height: 59.34px;
}

.reviews__title-shadow, .reviews__title {
  position: absolute;
  width: 359.5px;
  height: 57.4px;
  top: 26.26px;
  font-family: "Syncopate";
  font-size: 57px;
  font-weight: 700;
  line-height: 59.34px;
}

.reviews, .projects, .my-task, .graphic-design {
  position: relative;
  margin: 0 auto;
}

@font-face {
  font-family: "Trebuchet-Font";
  font-style: normal;
  font-weight: 400;
  src: local("Trebuchet-Font"), local("Trebuchet-Font-Regular"), url(/fonts/Trebuchet-MS-Italic.ttf) format("woff");
}
body {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.header {
  display: flex;
}
.header__left-button {
  width: 160px;
  height: 56px;
  border-radius: 27px;
  background-color: #d80808;
  margin: 25px 235px 0 82px;
}
.header__nav {
  color: #ffffff;
  width: 522px;
  margin-top: 43px;
  font-size: 18px;
}
.header__nav__item__title {
  margin: auto;
}
.header__right-button {
  color: #ffffff;
  font-size: 19px;
  font-weight: 900;
  margin: 26px 60px 0 206px;
  border: none;
  width: 172px;
  height: 56px;
  border-radius: 27px;
  background-color: #d80808;
}
.header__right-button__text {
  color: #ffffff;
}

.graphic-design {
  width: 1437px;
  height: 1090px;
  background: url("../img/grey_background.png") no-repeat center/cover;
}
.graphic-design__girl {
  position: absolute;
  top: 85px;
  left: 379px;
  z-index: 4;
}
.graphic-design__girl-hidden {
  display: none;
}
.graphic-design__title-one {
  color: #eeeeee;
  z-index: 10;
  left: 67px;
}
.graphic-design__title-one-red {
  color: rgba(94, 14, 14, 0.4588235294);
  z-index: 9;
  left: 74px;
}
.graphic-design__title-one-dark {
  color: #ff0606;
  z-index: 8;
  left: 79px;
}
.graphic-design__title-two {
  color: #eeeeee;
  z-index: 10;
  left: 862px;
}
.graphic-design__title-two-red {
  color: rgba(94, 14, 14, 0.4588235294);
  z-index: 9;
  left: 869px;
}
.graphic-design__title-two-dark {
  color: #ff0606;
  z-index: 8;
  left: 874px;
}
.graphic-design__elipse-big {
  position: absolute;
  top: 210px;
  left: 368px;
  z-index: 1;
}
.graphic-design__elipse-red {
  position: absolute;
  top: 149px;
  left: 307px;
  z-index: 1;
}
.graphic-design__elipse-small-brown {
  position: absolute;
  top: 279px;
  left: 1010px;
  z-index: 2;
}
.graphic-design__elipse-small-red {
  position: absolute;
  top: 775px;
  left: 331px;
  z-index: 2;
}
.graphic-design__text-top {
  top: 300px;
  left: 1110px;
  width: 191px;
  color: #bb9292;
}
.graphic-design__text-bottom {
  top: 882px;
  left: 115px;
  width: 303px;
  color: #d80808;
}

.my-task {
  width: 1437px;
  height: 945.13px;
  background: url("../img/background_red.png");
}
.my-task__title {
  top: 26px;
  left: 76px;
  width: 353px;
  color: #f4bdbd;
  z-index: 2;
}
.my-task__shadow {
  top: 26px;
  left: 87px;
  width: 421px;
  color: rgba(0, 0, 0, 0.5294117647);
}
.my-task__heart {
  position: absolute;
  top: 42px;
  left: 618px;
  z-index: 1;
}
.my-task__cloud {
  position: absolute;
  top: 284px;
  left: 831px;
  z-index: 1;
}
.my-task__laptop {
  position: absolute;
  top: 528px;
  left: 1006px;
  z-index: 1;
}
.my-task__img-one {
  position: absolute;
  top: 86px;
  left: 128px;
  z-index: 0;
}
.my-task__img-two {
  position: absolute;
  top: 301px;
  left: 246px;
  z-index: 0;
}
.my-task__img-three {
  position: absolute;
  top: 472px;
  left: 382px;
  z-index: 0;
}
.my-task__one {
  top: 187px;
  left: 135px;
  width: 124px;
  color: #1e0202;
  -webkit-text-stroke: 2px rgba(144, 7, 7, 0.3803921569);
  font-family: "Trebuchet MS";
}
.my-task__two {
  top: 488px;
  left: 276px;
  width: 122px;
  color: #f0c9c9;
  -webkit-text-stroke: 3px rgba(172, 137, 137, 0.3411764706);
  font-family: "Sen";
  height: 265.23px;
  font-size: 200px;
  line-height: 240.63px;
}
.my-task__three {
  top: 693px;
  left: 421px;
  width: 122px;
  color: #fb0909;
  -webkit-text-stroke: 3px rgba(81, 3, 3, 0.4392156863);
  font-family: "Sen";
}
.my-task__header-one {
  height: 45.52px;
  top: 225px;
  left: 261px;
  width: 233px;
  color: #000000;
}
.my-task__header-two {
  height: 49.48px;
  top: 390px;
  left: 378px;
  width: 304px;
  color: #fff9f9;
}
.my-task__header-three {
  height: 20.78px;
  top: 795px;
  left: 603px;
  width: 277px;
  color: #000000;
}
.my-task__text-two {
  height: 83.13px;
  line-height: 18.75px;
  position: absolute;
  top: 444px;
  left: 378px;
  width: 200px;
  color: #fff9f9;
}
.my-task__text-three {
  height: 116.78px;
  line-height: 18.75px;
  position: absolute;
  text-align: end;
  top: 650px;
  left: 641px;
  width: 239px;
  color: #000000;
}

.projects {
  display: flex;
  flex-direction: column;
  width: 1437px;
  height: 1191px;
  background: url("../img/black_backgroung.png");
  z-index: -2;
}
.projects__mobile1 {
  display: none;
}
.projects__title {
  left: 78px;
  color: #e4cfcf;
  z-index: 1;
}
.projects__title-shadow {
  left: 82px;
  color: rgba(226, 13, 13, 0.5411764706);
}
.projects__list {
  width: 1144px;
  margin: 0 auto;
  padding-top: 180px;
  padding-bottom: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 84px;
}
.projects__list__item {
  height: 340px;
  width: 445px;
}
.projects__list__item__title {
  width: 127.26px;
  height: 20.75px;
  font-size: 18px;
  font-weight: 900;
  line-height: 21.09px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 3px;
}
.projects__list__item__text {
  width: 62.13px;
  height: 18.77px;
  line-height: 18.75px;
  color: #ffffff;
}
.projects__list__item__text::after {
  content: url("../img/arrow_text.png");
  display: inline-block;
  width: 9px;
  height: 15px;
  z-index: 10;
  position: absolute;
  margin-left: 10px;
}
.projects__list__item__box {
  position: relative;
  width: 446px;
  height: 287px;
  border-radius: 11px;
  border: 2px solid rgba(29, 28, 28, 0.3294117647);
  background: linear-gradient(180deg, #e30707 0%, #6a1212 73.1%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects__list__item__box__img {
  width: 372.77px;
  height: 231.16px;
  border-radius: 17px;
}
.projects__button {
  width: 184.38px;
  height: 63.22px;
  border-radius: 27px;
  background-color: #d80808;
  color: #ffffff;
  align-self: center;
}

.reviews {
  width: 1437px;
  height: 1756px;
  background: url("../img/reviews_background.png");
  display: flex;
  flex-direction: column;
}
.reviews__title {
  color: #f4bdbd;
  left: 72px;
  z-index: 1;
}
.reviews__title-shadow {
  color: rgba(255, 0, 0, 0.4196078431);
  left: 76px;
}
.reviews__anna-img {
  position: absolute;
  top: 63px;
  left: 179px;
  z-index: 3;
}
.reviews__daria-img {
  position: absolute;
  top: 57px;
  left: 982px;
  z-index: 3;
}
.reviews__mark-img {
  position: absolute;
  top: 335px;
  left: 556px;
  z-index: 3;
}
.reviews__circle {
  position: absolute;
  top: 190px;
  left: 155px;
  z-index: 1;
  width: 310px;
  height: 302px;
  border-radius: 50%;
  background-color: rgba(57, 3, 3, 0.2196078431);
  box-shadow: 0px 0px 13px 20px rgba(0, 0, 0, 0.2784313725);
}
.reviews__circle-small {
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 2;
  width: 272px;
  height: 257px;
  border-radius: 50%;
  background-color: none;
  background: linear-gradient(180deg, #be0606 25.84%, #c99898 50.93%, #040101 111.36%);
  box-shadow: 0px 0px 13px 20px rgba(0, 0, 0, 0.2784313725);
}
.reviews__circle-daria {
  position: absolute;
  top: 190px;
  left: 962px;
  z-index: 1;
  width: 310px;
  height: 302px;
  border-radius: 50%;
  background-color: rgba(57, 3, 3, 0.2196078431);
  box-shadow: 0px 0px 13px 20px rgba(0, 0, 0, 0.2784313725);
}
.reviews__circle-small-daria {
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 2;
  width: 264px;
  height: 257px;
  border-radius: 50%;
  background-color: none;
  background: linear-gradient(180deg, #be0606 25.84%, #c99898 50.93%, #040101 111.36%);
  box-shadow: 0px 0px 13px 20px rgba(0, 0, 0, 0.2784313725);
}
.reviews__circle-mark {
  position: absolute;
  top: 545px;
  left: 531.5px;
  z-index: 1;
  width: 341px;
  height: 322px;
  border-radius: 50%;
  background-color: rgba(57, 3, 3, 0.2196078431);
  box-shadow: 0px 0px 13px 20px rgba(0, 0, 0, 0.2784313725);
}
.reviews__circle-small-mark {
  position: absolute;
  top: 20px;
  left: 25px;
  z-index: 2;
  width: 292px;
  height: 283px;
  border-radius: 50%;
  background-color: none;
  background: linear-gradient(180deg, #2b0303 20.96%, #ff1b1b 57.21%, #421f1f 79.99%);
  box-shadow: 0px 0px 13px 20px rgba(0, 0, 0, 0.2784313725);
}
.reviews__elipse {
  position: absolute;
  top: 361px;
  left: 272px;
  z-index: 4;
  width: 309px;
  height: 144px;
  border-radius: 49%;
  background-color: #ea1b1b;
  border: 6px solid rgba(54, 27, 27, 0.2);
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__elipse::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 49%;
  border: 3px solid rgba(101, 24, 24, 0.62);
  z-index: 5;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2509803922);
}
.reviews__elipse__title {
  color: #000000;
  z-index: 6;
  margin-top: 22px;
  height: 21.4px;
  border: 1px;
  -webkit-text-stroke: 1px rgba(255, 96, 96, 0.6705882353);
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
}
.reviews__elipse__line {
  width: 205.28px;
  height: 2px;
  background-color: #000000;
  margin: 4px 0 7px;
}
.reviews__elipse__text {
  width: 170px;
  height: 56.8px;
  line-height: 18.75px;
  color: #000000;
}
.reviews__elipse-back {
  position: absolute;
  top: 365px;
  left: 272px;
  z-index: 3;
  width: 309px;
  height: 144px;
  border-radius: 49%;
  background-color: rgba(170, 64, 64, 0.7098039216);
  rotate: 8.21deg;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2509803922);
}
.reviews__elipse-daria {
  position: absolute;
  top: 362px;
  left: 800px;
  z-index: 4;
  width: 310px;
  height: 147px;
  border-radius: 49%;
  background-color: #fdaeae;
  border: 4px solid rgba(75, 47, 47, 0.6);
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__elipse-daria__title {
  color: #000000;
  z-index: 6;
  margin-top: 22px;
  height: 21.4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
}
.reviews__elipse-daria__line {
  width: 205.28px;
  height: 2px;
  background-color: #000000;
  margin: 4px 0 7px;
}
.reviews__elipse-daria__text {
  width: 202px;
  height: 56.8px;
  line-height: 18.75px;
  color: #000000;
}
.reviews__elipse-daria-back {
  position: absolute;
  top: 365px;
  left: 795px;
  z-index: 3;
  width: 309px;
  height: 144px;
  border-radius: 49%;
  background-color: #875c5c;
  rotate: 8.21deg;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2509803922);
}
.reviews__elipse-mark {
  position: absolute;
  top: 804px;
  left: 555px;
  z-index: 4;
  width: 310px;
  height: 147px;
  border-radius: 49%;
  background-color: #6b0505;
  border: 3px solid rgba(81, 6, 7, 0.8117647059);
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__elipse-mark__title {
  color: #ffffff;
  z-index: 6;
  margin-top: 22px;
  height: 21.4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
}
.reviews__elipse-mark__line {
  width: 205.28px;
  height: 2px;
  background-color: #ffffff;
  margin: 4px 0 7px;
}
.reviews__elipse-mark__text {
  width: 202px;
  height: 56.8px;
  line-height: 18.75px;
  color: #ffffff;
  width: 155.21px;
}
.reviews__elipse-mark-back {
  position: absolute;
  top: 795px;
  left: 545px;
  z-index: 3;
  width: 330px;
  height: 169px;
  border-radius: 49%;
  background-color: rgba(182, 24, 24, 0.9215686275);
  rotate: 8.48deg;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2509803922);
}
.reviews__lets-work {
  width: 1112px;
  height: 434px;
  margin: 1204px auto 0px;
  border-radius: 12px;
  background: url("../img/lets-work-bg.png") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews__lets-work__red {
  width: 981px;
  height: 371px;
  background: url("../img/lets-work-bg-red.png") no-repeat center/cover;
  border-radius: 19px;
  display: flex;
}
.reviews__lets-work__red__left {
  width: 582px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.reviews__lets-work__red__left__title {
  font-family: "Syncopate";
  font-size: 40px;
  font-weight: 700;
  line-height: 41.64px;
  margin-top: 69px;
  color: #f3d5d5;
  text-shadow: 2px 0 rgba(73, 7, 7, 0.3294117647), -2px 0 rgba(73, 7, 7, 0.3294117647), 0 2px rgba(73, 7, 7, 0.3294117647), 0 -2px rgba(73, 7, 7, 0.3294117647), 2px 2px rgba(73, 7, 7, 0.3294117647), -2px -2px rgba(73, 7, 7, 0.3294117647), 2px -2px rgba(73, 7, 7, 0.3294117647), -2px 2px rgba(73, 7, 7, 0.3294117647);
}
.reviews__lets-work__red__left__line {
  width: 559px;
  height: 4px;
  background-color: #000000;
  margin-top: -2px;
}
.reviews__lets-work__red__left__text {
  width: 508px;
  height: 24px;
  font-size: 15px;
  line-height: 17.58px;
  letter-spacing: 0.06em;
  color: #e8d6d6;
  margin-top: 10px;
}
.reviews__lets-work__red__left__icons {
  position: relative;
}
.reviews__lets-work__red__left__icons__instagram {
  position: absolute;
  top: 50px;
  left: -50px;
}
.reviews__lets-work__red__left__icons__behance {
  position: absolute;
  top: 10px;
  left: -20px;
}
.reviews__lets-work__red__left__icons__whatsapp {
  position: absolute;
  top: 50px;
  left: 55px;
}
.reviews__lets-work__red__button {
  width: 196px;
  height: 64px;
  border-radius: 27px;
  border: none;
  background-color: #ffffff;
  font-size: 19px;
  font-weight: 900;
  line-height: 22.27px;
  color: #ff0000;
  margin-top: 142px;
  margin-left: 102px;
}

.footer {
  width: 1437px;
  height: 180px;
  background-color: #000000;
  margin: 0 auto;
  display: flex;
  border-top: 6px solid grey;
}
.footer__name {
  margin: 84px 258px 0px 82px;
  width: 182px;
  height: 14px;
  font-family: "Syncopate";
  font-size: 15px;
  font-weight: 700;
  line-height: 15.62px;
  letter-spacing: 0.06em;
  color: #ff0000;
}
.footer__line {
  margin-right: 17px;
  margin-top: 34px;
  width: 2px;
  height: 112px;
  background-color: #ff2929;
}
.footer__services {
  display: flex;
  flex-direction: column;
  margin-right: 71px;
}
.footer__services__name {
  margin: 53px 0px 17px 0px;
  width: 195px;
  height: 14px;
  font-family: "Syncopate";
  font-size: 15px;
  font-weight: 700;
  line-height: 15.62px;
  letter-spacing: 0.06em;
  color: #ff0000;
}
.footer__services__main-page {
  margin-bottom: 10px;
  width: 85px;
  height: 16px;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.58px;
  letter-spacing: 0.06em;
  color: #d8d3d3;
}
.footer__services__terms {
  width: 131px;
  height: 16px;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.58px;
  letter-spacing: 0.06em;
  color: #d8d3d3;
}
.footer__email {
  margin-right: 171px;
  margin-top: 110px;
  width: 251px;
  height: 16px;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.58px;
  letter-spacing: 0.06em;
  color: #d8d3d3;
}
.footer__tel {
  width: 149px;
  height: 16px;
  margin-top: 110px;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.58px;
  letter-spacing: 0.06em;
  color: #d8d3d3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 29, 29, 0.8509803922);
  opacity: 50%;
  z-index: 15;
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1085px;
  height: 723px;
  background-color: rgba(194, 0, 0, 0.5215686275);
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}
.modal__box {
  width: 1046px;
  height: 681px;
  background-color: rgba(49, 0, 0, 0.3803921569);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}
.modal__box__line {
  width: 945px;
  height: 83px;
  border-radius: 15px;
  background-color: rgba(194, 0, 0, 0.5215686275);
  border: 4px solid rgba(238, 5, 5, 0.2509803922);
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 34px;
}
.modal__box__title {
  width: 630px;
  height: 64px;
  top: 221px;
  margin-left: 53px;
  margin-top: 36px;
  margin-bottom: 111px;
  font-family: "Syncopate";
  font-size: 35px;
  font-weight: 700;
  line-height: 36.44px;
  color: #e5dede;
}
.modal__box__input {
  width: 934px;
  height: 64px;
  border-radius: 15px;
  background-color: #450101;
  border: 4px solid rgba(238, 5, 5, 0.1294117647);
  border-radius: 15px;
  opacity: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  color: red;
}
.modal-send {
  width: 172px;
  height: 56px;
  border-radius: 27px;
  font-size: 20px;
  font-weight: 900;
  line-height: 23.44px;
  background-color: #d80808;
  border: none;
  color: #e5dede;
  margin: 0 auto;
}

::-moz-placeholder {
  color: red;
  opacity: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
}

::placeholder {
  color: red;
  opacity: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
}

@media (max-width: 368px) {
  .graphic-design {
    width: 368px;
    height: 648px;
  }
  .graphic-design__girl {
    display: none;
  }
  .graphic-design__elipse-big {
    display: none;
  }
  .graphic-design__girl-hidden {
    display: block;
    position: absolute;
    top: 100px;
    left: 88px;
    z-index: 1;
  }
  .graphic-design__elipse-red {
    display: none;
  }
  .graphic-design__text-top {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.01em;
    width: 119.61px;
    height: 27px;
    top: 559px;
    left: 207.34px;
  }
  .graphic-design__text-bottom {
    width: 140.71px;
    height: 41px;
    top: 508px;
    left: 38.49px;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.005em;
  }
  .graphic-design__title-one {
    width: auto;
    height: 87px;
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 0.005em;
    top: 182px;
    left: 38px;
    z-index: 10;
  }
  .graphic-design__title-one-red {
    width: 33px;
    height: 87px;
    height: 87px;
    rotate: 0.15 deg;
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 0.005em;
    top: 182px;
    left: 42px;
    z-index: 9;
  }
  .graphic-design__title-one-dark {
    width: 33px;
    height: 87px;
    height: 87px;
    rotate: 0.15 deg;
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 0.005em;
    top: 182px;
    left: 45px;
    z-index: 8;
  }
  .graphic-design__title-two {
    width: 161px;
    height: 92px;
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 0.005em;
    top: 250px;
    left: 38px;
    z-index: 10;
  }
  .graphic-design__title-two-red {
    width: 161px;
    height: 92px;
    rotate: 0.15 deg;
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 0.005em;
    position: absolute;
    top: 250px;
    left: 42px;
    z-index: 9;
  }
  .graphic-design__title-two-dark {
    width: 161px;
    height: 92px;
    height: 87px;
    rotate: 0.15 deg;
    font-size: 33px;
    line-height: 33px;
    letter-spacing: 0.005em;
    position: absolute;
    top: 250px;
    left: 45px;
    z-index: 8;
  }
  .graphic-design__elipse-small-red {
    display: none;
  }
  .graphic-design__elipse-small-brown {
    display: none;
  }
  .graphic-design .header__nav {
    display: none;
  }
  .graphic-design .header__left-button {
    display: none;
  }
  .graphic-design .header__right-button {
    width: 134px;
    height: 43px;
    position: absolute;
    top: 303px;
    left: -160px;
    z-index: 5;
    font-size: 14px;
    font-weight: 900;
    line-height: 16.41px;
  }
  .my-task {
    width: 368px;
    height: 822px;
  }
  .my-task__title {
    width: 199px;
    height: 31px;
    top: 18px;
    left: 81px;
    font-size: 32px;
    line-height: 33px;
  }
  .my-task__shadow {
    width: 199px;
    height: 31px;
    top: 18px;
    left: 87px;
    font-size: 32px;
    line-height: 33px;
  }
  .my-task__heart {
    display: none;
  }
  .my-task__cloud {
    display: none;
  }
  .my-task__laptop {
    display: none;
  }
  .my-task__img-one {
    width: 320px;
    height: 240px;
    top: 35px;
    left: 20px;
  }
  .my-task__one {
    font-size: 182px;
    height: 190px;
    width: 80px;
    top: 60px;
    left: 20px;
  }
  .my-task__header-one {
    font-size: 15px;
    height: 32px;
    width: 180px;
    top: 125px;
    left: 110px;
  }
  .my-task__img-two {
    width: 340px;
    height: 220px;
    top: 240px;
    left: 20px;
  }
  .my-task__two {
    font-size: 182px;
    height: 190px;
    width: 80px;
    top: 290px;
    left: 40px;
  }
  .my-task__header-two {
    font-size: 15px;
    height: 32px;
    width: 180px;
    top: 285px;
    left: 130px;
  }
  .my-task__text-two {
    font-size: 10px;
    height: 50px;
    width: 110px;
    top: 310px;
    left: 130px;
  }
  .my-task__img-three {
    width: 340px;
    height: 235px;
    top: 450px;
    left: 20px;
  }
  .my-task__three {
    font-size: 182px;
    height: 190px;
    width: 80px;
    top: 535px;
    left: 20px;
  }
  .my-task__header-three {
    font-size: 12px;
    height: 32px;
    width: 200px;
    top: 605px;
    left: 130px;
  }
  .my-task__text-three {
    font-size: 8px;
    height: 50px;
    width: 130px;
    top: 540px;
    left: 187px;
    line-height: 9px;
  }
  .projects {
    width: 368px;
    height: 884px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projects__title {
    width: 203px;
    height: 34.17px;
    top: 26px;
    left: 80px;
    font-size: 33px;
    font-weight: 700;
    line-height: 34.35px;
    letter-spacing: -0.105em;
  }
  .projects__title-shadow {
    width: 203px;
    height: 34.17px;
    top: 26px;
    left: 84px;
    font-size: 33px;
    font-weight: 700;
    line-height: 34.35px;
    letter-spacing: -0.105em;
  }
  .projects__list {
    width: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .projects__list__item {
    width: 312px;
    height: 240px;
  }
  .projects__list__item__img {
    width: 260px;
    height: 151px;
    border-radius: 17px;
  }
  .projects__list__item__box {
    width: 312px;
    height: 188px;
    border: none;
  }
  .projects__list__item__box__img {
    width: 260px;
    height: 151px;
    border-radius: 17px;
  }
  .projects__list__item:nth-child(3) {
    display: none;
  }
  .projects__list__item:nth-child(4) {
    display: none;
  }
  .projects__button {
    margin-top: 49px;
  }
  .reviews {
    width: 368px;
    height: 1166px;
  }
  .reviews__title {
    top: 35px;
    left: 95px;
    width: 192px;
    height: 34.97px;
    font-size: 33px;
    line-height: 34.35px;
    letter-spacing: -0.08em;
  }
  .reviews__title-shadow {
    top: 35px;
    left: 101px;
    width: 192px;
    height: 34.97px;
    font-size: 33px;
    line-height: 34.35px;
    letter-spacing: -0.08em;
  }
  .reviews__anna-img {
    top: 497px;
    left: 55px;
  }
  .reviews__circle {
    top: 620px;
    left: 34px;
  }
  .reviews__circle-small {
    top: 22px;
    left: 18px;
  }
  .reviews__elipse {
    top: 870px;
    left: 34px;
  }
  .reviews__elipse-back {
    top: 875px;
    left: 36px;
  }
  .reviews__daria-img {
    top: 17px;
    left: 54px;
  }
  .reviews__circle-daria {
    top: 150px;
    left: 34px;
  }
  .reviews__circle--daria {
    top: 22px;
    left: 18px;
  }
  .reviews__elipse-daria {
    top: 370px;
    left: 34px;
  }
  .reviews__elipse-daria-back {
    top: 375px;
    left: 36px;
  }
  .reviews__mark-img {
    display: none;
  }
  .reviews__circle-mark {
    display: none;
  }
  .reviews__elipse-mark {
    display: none;
  }
  .reviews__elipse-mark-back {
    display: none;
  }
}