@import "colors";
@mixin graphic_design($color, $index, $left) {
    color: $color;
    z-index: $index;
    left: $left;
  }
  
  @mixin area($width, $height, $radius, $bg) {
    width: $width;
    height: $height;
    border-radius: $radius;
    background-color: $bg;
  }
  
  @mixin img($position, $top, $left, $index) {
    position: $position;
    top: $top;
    left: $left;
    z-index: $index;
  }
  
  @mixin text_size($top, $left, $width, $color) {
    top: $top;
    left: $left;
    width: $width;
    color: $color;
  }
  
  @mixin size($width, $height) {
    width: $width;
    height: $height;
  }

  