@import "../styles/reset";

$main-color: #d80808;
$white-color: #ffffff;

.header {
    display: flex;
  &__left-button {
    width: 160px;
    height: 56px;
    border-radius: 27px;
    background-color: $main-color;
  }
  &__nav {
    display: flex;
    &__item {
      &__title {
        color: $white-color;
      }
    }
  }
}

.graphic-design {
  width: 1437px;
  height: 1090px;
  background: url("/images/grey_background.png") no-repeat center/cover;
  margin: 0 auto;
}
