@import "reset";
@import "colors";
@import "mixins";
@import "templates";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen:wght@400..800&family=Syncopate:wght@400;700&display=swap");
@font-face {
  font-family: "Trebuchet-Font";
  font-style: normal;
  font-weight: 400;

  src: local("Trebuchet-Font"), local("Trebuchet-Font-Regular"),
    url(/fonts/Trebuchet-MS-Italic.ttf) format("woff");
}

// p {
// font-family: 'Trebuchet-Font', Arial;
// }

body {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.header {
  display: flex;
  &__left-button {
    @include area(160px, 56px, 27px, $red-color);
    margin: 25px 235px 0 82px;
  }
  &__nav {
    color: $white-color;
    width: 522px;
    margin-top: 43px;
    font-size: 18px;
    @extend %flex;
    &__item {
      &__title {
        margin: auto;
      }
    }
  }
  &__right-button {
    color: $white-color;
    font-size: 19px;
    font-weight: 900;
    margin: 26px 60px 0 206px;
    border: none;
    @include area(172px, 56px, 27px, $red-color);
    &__text {
      color: $white-color;
    }
  }
}

.graphic-design {
  width: 1437px;
  height: 1090px;
  background: url("../img/grey_background.png") no-repeat center/cover;
  @extend %position;
  &__girl {
    @include img(absolute, 85px, 379px, 4);
  }
  &__girl-hidden {
    display: none;
  }
  &__title-one {
    @extend %graphic;
    @extend %graphic_design;
    @include graphic_design($light-grey, 10, 67px);
  }
  &__title-one-red {
    @extend %graphic;
    @extend %graphic_design;
    @include graphic_design($shadow-two, 9, 74px);
  }
  &__title-one-dark {
    @extend %graphic;
    @extend %graphic_design;
    @include graphic_design($shadow-red, 8, 79px);
  }

  &__title-two {
    @extend %design;
    @extend %graphic_design;
    @include graphic_design($light-grey, 10, 862px);
  }
  &__title-two-red {
    @extend %design;
    @extend %graphic_design;
    @include graphic_design($shadow-two, 9, 869px);
  }
  &__title-two-dark {
    @extend %design;
    @extend %graphic_design;
    @include graphic_design($shadow-red, 8, 874px);
  }

  &__elipse-big {
    @include img(absolute, 210px, 368px, 1);
  }
  &__elipse-red {
    @include img(absolute, 149px, 307px, 1);
  }
  &__elipse-small-brown {
    @include img(absolute, 279px, 1010px, 2);
  }
  &__elipse-small-red {
    @include img(absolute, 775px, 331px, 2);
  }
  &__text-top {
    @extend %text;
    @include text_size(300px, 1110px, 191px, $text-brown);
  }
  &__text-bottom {
    @extend %text;
    @include text_size(882px, 115px, 303px, $red-color);
  }
}

.my-task {
  width: 1437px;
  height: 945.13px;
  @extend %position;
  background: url("../img/background_red.png");
  &__title {
    @extend %mytask;
    @include text_size(26px, 76px, 353px, $pink-color);
    z-index: 2;
  }
  &__shadow {
    @extend %mytask;
    @include text_size(26px, 87px, 421px, $shadow);
  }
  &__heart {
    @include img(absolute, 42px, 618px, 1);
  }
  &__cloud {
    @include img(absolute, 284px, 831px, 1);
  }
  &__laptop {
    @include img(absolute, 528px, 1006px, 1);
  }
  &__img-one {
    @include img(absolute, 86px, 128px, 0);
  }
  &__img-two {
    @include img(absolute, 301px, 246px, 0);
  }
  &__img-three {
    @include img(absolute, 472px, 382px, 0);
  }
  &__one {
    @extend %one;
    @include text_size(187px, 135px, 124px, $dark);
    -webkit-text-stroke: 2px $border-color;
    font-family: "Trebuchet MS";
  }
  &__two {
    @extend %one;
    @include text_size(488px, 276px, 122px, $number-two);
    -webkit-text-stroke: 3px $border-color-two;
    font-family: "Sen";
    height: 265.23px;
    font-size: 200px;
    line-height: 240.63px;
  }
  &__three {
    @extend %one;
    @include text_size(693px, 421px, 122px, $number-three);
    -webkit-text-stroke: 3px $border-color-three;
    font-family: "Sen";
  }
  &__header-one {
    height: 45.52px;
    @extend %mytasktext;
    @include text_size(225px, 261px, 233px, $black-color);
  }
  &__header-two {
    height: 49.48px;
    @extend %mytasktext;
    @include text_size(390px, 378px, 304px, $white-text);
  }
  &__header-three {
    height: 20.78px;
    @extend %mytasktext;
    @include text_size(795px, 603px, 277px, $black-color);
  }
  &__text-two {
    height: 83.13px;
    line-height: 18.75px;
    position: absolute;
    @include text_size(444px, 378px, 200px, $white-text);
  }
  &__text-three {
    height: 116.78px;
    line-height: 18.75px;
    position: absolute;
    text-align: end;
    @include text_size(650px, 641px, 239px, $black-color);
  }
}

.projects {
  display: flex;
  flex-direction: column;
  width: 1437px;
  height: 1191px;
  background: url("../img/black_backgroung.png");
  @extend %position;
  z-index: -2;
  &__title {
    @extend %projects;
    left: 78px;
    color: $projects-title;
    z-index: 1;
  }
  &__title-shadow {
    @extend %projects;
    left: 82px;
    color: $projects-shadow;
  }
  &__list {
    width: 1144px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 55px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 84px;
    &__item {
      height: 340px;
      &__title {
        width: 127.26px;
        height: 20.75px;
        font-size: 18px;
        font-weight: 900;
        line-height: 21.09px;
        color: $white-color;
        margin-top: 10px;
        margin-bottom: 3px;
      }
      &__text {
        width: 62.13px;
        height: 18.77px;
        line-height: 18.75px;
        color: $white-color;
      }
      &__text::after {
        content: url("../img/arrow_text.png");
        display: inline-block;
        width: 9px;
        height: 15px;
        z-index: 10;
        position: absolute;
        margin-left: 10px;
      }

      &__box {
        position: relative;
        width: 446px;
        height: 287px;
        border-radius: 11px;
        border: 2px solid #1d1c1c54;
        background: linear-gradient(180deg, #e30707 0%, #6a1212 73.1%);
        display: flex;
        justify-content: center;
        align-items: center;
        &__img {
          width: 372.77px;
          height: 231.16px;
          border-radius: 17px;
        }
      }
      &__box::before {
        content: url("../img/arrow_text.png");
        display: inline-block;
        width: 9px;
        height: 15px;
        content: "";
        position: absolute;
        width: 462.96px;
        height: 305.25px;
        top: -8.89px;
        left: -8px;
        border-radius: 11px;
        background: #282727ba;
        box-shadow: 0px 0px 69px 37px #615d5d47;
        z-index: -1;
      }
    }
  }
  &__button {
    width: 184.38px;
    height: 63.22px;
    border-radius: 27px;
    background-color: $red-color;
    color: $white-color;
    align-self: center;
  }
}

.reviews {
  @extend %position;
  width: 1437px;
  height: 1756px;
  background: url("../img/reviews_background.png");
  display: flex;
  flex-direction: column;
  &__title {
    color: $pink-color;
    @extend %reviews;
    left: 72px;
    z-index: 1;
  }
  &__title-shadow {
    color: $reviews-shadow;
    @extend %reviews;
    left: 76px;
  }
  &__anna-img {
    @include img(absolute, 63px, 179px, 3);
  }
  &__daria-img {
    @include img(absolute, 57px, 982px, 3);
  }
  &__mark-img {
    @include img(absolute, 335px, 556px, 3);
  }
  &__circle {
    @include img(absolute, 190px, 155px, 1);
    @include area(310px, 302px, 50%, $reviews-circle);
    box-shadow: 0px 0px 13px 20px $circle-shadow;
  }
  &__circle-small {
    @include img(absolute, 25px, 20px, 2);
    @include area(272px, 257px, 50%, none);
    background: linear-gradient(
      180deg,
      #be0606 25.84%,
      #c99898 50.93%,
      #040101 111.36%
    );
    box-shadow: 0px 0px 13px 20px $circle-shadow;
  }
  &__circle-daria {
    @include img(absolute, 190px, 962px, 1);
    @include area(310px, 302px, 50%, $reviews-circle);
    box-shadow: 0px 0px 13px 20px $circle-shadow;
  }
  &__circle-small-daria {
    @include img(absolute, 25px, 20px, 2);
    @include area(264px, 257px, 50%, none);
    background: linear-gradient(
      180deg,
      #be0606 25.84%,
      #c99898 50.93%,
      #040101 111.36%
    );
    box-shadow: 0px 0px 13px 20px $circle-shadow;
  }
  &__circle-mark {
    @include img(absolute, 545px, 531.5px, 1);
    @include area(341px, 322px, 50%, $reviews-circle);
    box-shadow: 0px 0px 13px 20px $circle-shadow;
  }
  &__circle-small-mark {
    @include img(absolute, 20px, 25px, 2);
    @include area(292px, 283px, 50%, none);
    background: linear-gradient(
      180deg,
      #2b0303 20.96%,
      #ff1b1b 57.21%,
      #421f1f 79.99%
    );
    box-shadow: 0px 0px 13px 20px $circle-shadow;
  }
  &__elipse {
    @include img(absolute, 361px, 272px, 4);
    @include area(309px, 144px, 49%, $elipse-anna);
    border: 6px solid rgba(54, 27, 27, 0.2);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      right: -6px;
      bottom: -6px;
      border-radius: 49%;
      border: 3px solid rgba(101, 24, 24, 0.62);
      z-index: 5;
      box-shadow: 0 0 4px 0 $light-shadow;
    }
    &__title {
      color: $black-color;
      z-index: 6;
      margin-top: 22px;
      height: 21.4px;
      border: 1px;
      -webkit-text-stroke: 1px $name-border;
      font-size: 18px;
      font-weight: 700;
      line-height: 21.09px;
    }
    &__line {
      @include size(205.28px, 2px);
      background-color: $black-color;
      margin: 4px 0 7px;
    }

    &__text {
      @include size(170px, 56.8px);
      line-height: 18.75px;
      color: $black-color;
    }
  }
  &__elipse-back {
    @include img(absolute, 365px, 272px, 3);
    @include area(309px, 144px, 49%, $elipse-anna-back);
    rotate: 8.21deg;
    box-shadow: 0 0 4px 0 $light-shadow;
  }
  &__elipse-daria {
    @include img(absolute, 362px, 800px, 4);
    @include area(310px, 147px, 49%, $review-daria);
    border: 4px solid $elipse-daria;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      color: $black-color;
      z-index: 6;
      margin-top: 22px;
      height: 21.4px;
      font-size: 18px;
      font-weight: 700;
      line-height: 21.09px;
    }
    &__line {
      @include size(205.28px, 2px);
      background-color: $black-color;
      margin: 4px 0 7px;
    }

    &__text {
      @include size(202px, 56.8px);
      line-height: 18.75px;
      color: $black-color;
    }
  }
  &__elipse-daria-back {
    @include img(absolute, 365px, 795px, 3);
    @include area(309px, 144px, 49%, $shadow-daria);
    rotate: 8.21deg;
    box-shadow: 0 0 4px 0 $light-shadow;
  }
  &__elipse-mark {
    @include img(absolute, 804px, 555px, 4);
    @include area(310px, 147px, 49%, $review-mark);
    border: 3px solid $elipse-mark;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      color: $white-color;
      z-index: 6;
      margin-top: 22px;
      height: 21.4px;
      font-size: 18px;
      font-weight: 700;
      line-height: 21.09px;
    }
    &__line {
      @include size(205.28px, 2px);
      background-color: $white-color;
      margin: 4px 0 7px;
    }

    &__text {
      @include size(202px, 56.8px);
      line-height: 18.75px;
      color: $white-color;
      width: 155.21px;
    }
  }
  &__elipse-mark-back {
    @include img(absolute, 795px, 545px, 3);
    @include area(330px, 169px, 49%, $shadow-mark);
    rotate: 8.48deg;
    box-shadow: 0 0 4px 0 $light-shadow;
  }
  &__lets-work {
    @include size(1112px, 434px);
    margin: 1204px auto 0px;
    // border: 6px solid #230303E5;
    // box-shadow: 0px 0px 12px 17px #86161657;
    border-radius: 12px;
    background: url("../img/lets-work-bg.png") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    &__red {
      @include size(981px, 371px);
      background: url("../img/lets-work-bg-red.png") no-repeat center/cover;
      border-radius: 19px;
      display: flex;
      &__left {
        width: 582px;
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        &__title {
          font-family: "Syncopate";
          font-size: 40px;
          font-weight: 700;
          line-height: 41.64px;
          margin-top: 69px;
          color: $lets-work;
          // -webkit-text-stroke: 2px ;
          text-shadow: 2px 0 #49070754, -2px 0 #49070754, 0 2px #49070754,
            0 -2px #49070754, 2px 2px #49070754, -2px -2px #49070754,
            2px -2px #49070754, -2px 2px #49070754;
        }
        &__line {
          @include size(559px, 4px);
          background-color: $black-color;
          margin-top: -2px;
        }

        &__text {
          @include size(508px, 24px);
          font-size: 15px;
          line-height: 17.58px;
          letter-spacing: 0.06em;
          color: $lets-work-text;
          margin-top: 10px;
        }
        &__icons {
          position: relative;
          &__instagram {
            position: absolute;
            top: 50px;
            left: -50px;
          }
          &__behance {
            position: absolute;
            top: 10px;
            left: -20px;
          }
          &__whatsapp {
            position: absolute;
            top: 50px;
            left: 55px;
          }
        }
      }
      &__button {
        @include size(196px, 64px);
        border-radius: 27px;
        border: none;
        background-color: $white-color;
        font-size: 19px;
        font-weight: 900;
        line-height: 22.27px;
        color: $contact-me;
        margin-top: 142px;
        margin-left: 102px;
      }
    }
  }
}
.footer {
  @include size(1437px, 180px);
  background-color: $black-color;
  margin: 0 auto;
  display: flex;
  border-top: 6px solid $footer-border;
  &__name {
    margin: 84px 258px 0px 82px;
    @include size(182px, 14px);
    font-family: "Syncopate";
    font-size: 15px;
    font-weight: 700;
    line-height: 15.62px;
    letter-spacing: 0.06em;
    color: $contact-me;
  }
  &__line {
    margin-right: 17px;
    margin-top: 34px;
    @include size(2px, 112px);
    background-color: $footer-line;
  }
  &__services {
    display: flex;
    flex-direction: column;
    margin-right: 71px;
    &__name {
      margin: 53px 0px 17px 0px;
      @include size(195px, 14px);
      font-family: "Syncopate";
      font-size: 15px;
      font-weight: 700;
      line-height: 15.62px;
      letter-spacing: 0.06em;
      color: $contact-me;
    }
    &__main-page {
      margin-bottom: 10px;
      @include size(85px, 16px);
      font-size: 15px;
      font-weight: 700;
      line-height: 17.58px;
      letter-spacing: 0.06em;
      color: $footer-text;
    }
    &__terms {
      @include size(131px, 16px);
      font-size: 15px;
      font-weight: 700;
      line-height: 17.58px;
      letter-spacing: 0.06em;
      color: $footer-text;
    }
  }
  &__email {
    margin-right: 171px;
    margin-top: 110px;
    @include size(251px, 16px);
    font-size: 15px;
    font-weight: 700;
    line-height: 17.58px;
    letter-spacing: 0.06em;
    color: $footer-text;
  }
  &__tel {
    @include size(149px, 16px);
    margin-top: 110px;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.58px;
    letter-spacing: 0.06em;
    color: $footer-text;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #211d1dd9;
  opacity: 50%;
  z-index: 15;

  opacity: 1;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1085px;
  height: 723px;
  background-color: #c2000085;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  &__box {
    width: 1046px;
    height: 681px;
    background-color: #31000061;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    &__line {
      width: 945px;
      height: 83px;
      border-radius: 15px;
      background-color: #c2000085;
      border: 4px solid #ee050540;
      display: flex;
      align-items: center;
      margin: 0 auto;

      margin-bottom: 34px;
    }
    &__title {
      width: 630px;
      height: 64px;
      top: 221px;
      margin-left: 53px;
      margin-top: 36px;
      margin-bottom: 111px;
      font-family: "Syncopate";
      font-size: 35px;
      font-weight: 700;
      line-height: 36.44px;
      color: #e5dede;
    }
    &__input {
      width: 934px;
      height: 64px;
      border-radius: 15px;
      background-color: #450101;
      border: 4px solid #ee050521;
      border-radius: 15px;
      opacity: 1;
      font-size: 20px;
      font-weight: 400;
      line-height: 23.44px;
      color: red;
    }
  }
  &-send {
    width: 172px;
    height: 56px;
    border-radius: 27px;
    font-size: 20px;
    font-weight: 900;
    line-height: 23.44px;
    background-color: #d80808;
    border: none;
    color: #e5dede;
    margin: 0 auto;
  }
}

::placeholder {
  color: red;
  opacity: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
}

@media (max-width: 368px) {
  .graphic-design {
    @include size(368px, 648px);
    &__girl {
      display: none;
    }
    &__elipse-big {
      display: none;
    }
    &__girl-hidden {
      display: block;
      position: absolute;
      top: 100px;
      left: 88px;
      z-index: 1;
    }
    &__elipse-red {
      display: none;
    }
    &__text-top {
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.01em;
      width: 119.61px;
      height: 27px;
      top: 559px;
      left: 207.34px;
    }
    &__text-bottom {
      width: 140.71px;
      height: 41px;
      top: 508px;
      left: 38.49px;
      font-size: 12px;
      font-weight: 700;
      line-height: 12px;
      letter-spacing: 0.005em;
    }
    &__title-one {
      @include size(auto, 87px);
      font-size: 33px;
      line-height: 33px;
      letter-spacing: 0.005em;
      top: 182px;
      left: 38px;
      z-index: 10;
    }
    &__title-one-red {
      @include size(33px, 87px);
      height: 87px;
      rotate: 0.15 deg;
      font-size: 33px;
      line-height: 33px;
      letter-spacing: 0.005em;
      top: 182px;
      left: 42px;
      z-index: 9;
    }
    &__title-one-dark {
      @include size(33px, 87px);
      height: 87px;
      rotate: 0.15 deg;
      font-size: 33px;
      line-height: 33px;
      letter-spacing: 0.005em;
      top: 182px;
      left: 45px;
      z-index: 8;
    }
    &__title-two {
      @include size(161px, 92px);
      font-size: 33px;
      line-height: 33px;
      letter-spacing: 0.005em;
      top: 250px;
      left: 38px;
      z-index: 10;
    }
    &__title-two-red {
      @include size(161px, 92px);
      rotate: 0.15 deg;
      font-size: 33px;
      line-height: 33px;
      letter-spacing: 0.005em;
      position: absolute;
      top: 250px;
      left: 42px;
      z-index: 9;
    }
    &__title-two-dark {
      @include size(161px, 92px);
      height: 87px;
      rotate: 0.15 deg;
      font-size: 33px;
      line-height: 33px;
      letter-spacing: 0.005em;
      position: absolute;
      top: 250px;
      left: 45px;
      z-index: 8;
    }
    &__elipse-small-red {
      display: none;
    }
    &__elipse-small-brown {
      display: none;
    }
    .header {
      &__nav {
        display: none;
      }
      &__left-button {
        display: none;
      }
      &__right-button {
        @include size(134px, 43px);
        @include img(absolute, 303px, -160px, 5);
        font-size: 14px;
        font-weight: 900;
        line-height: 16.41px;
      }
    }
  }
  .my-task {
    width: 368px;
    height: 822px;
    &__title {
      width: 199px;
      height: 31px;
      top: 18px;
      left: 81px;
      font-size: 32px;
      line-height: 33px;
    }
    &__shadow {
      width: 199px;
      height: 31px;
      top: 18px;
      left: 87px;
      font-size: 32px;
      line-height: 33px;
    }
    &__heart {
      display: none;
    }
    &__cloud {
      display: none;
    }
    &__laptop {
      display: none;
    }
    &__img-one {
      width: 320px;
      height: 240px;
      top: 35px;
      left: 20px;
    }
    &__one {
      font-size: 182px;
      height: 190px;
      width: 80px;
      top: 60px;
      left: 20px;
    }
    &__header-one {
      font-size: 15px;
      height: 32px;
      width: 180px;
      top: 125px;
      left: 110px;
    }
    &__img-two {
      width: 340px;
      height: 220px;
      top: 240px;
      left: 20px;
    }
    &__two {
      font-size: 182px;
      height: 190px;
      width: 80px;
      top: 290px;
      left: 40px;
    }
    &__header-two {
      font-size: 15px;
      height: 32px;
      width: 180px;
      top: 285px;
      left: 130px;
    }
    &__text-two {
      font-size: 10px;
      height: 50px;
      width: 110px;
      top: 310px;
      left: 130px;
    }
    &__img-three {
      width: 340px;
      height: 235px;
      top: 450px;
      left: 20px;
    }
    &__three {
      font-size: 182px;
      height: 190px;
      width: 80px;
      top: 535px;
      left: 20px;
    }
    &__header-three {
      font-size: 12px;
      height: 32px;
      width: 200px;
      top: 605px;
      left: 130px;
    }
    &__text-three {
      font-size: 8px;
      height: 50px;
      width: 130px;
      top: 540px;
      left: 187px;
      line-height: 9px;
    }
  }
}
